{
	"name": "{{title}}",
    "urls": [
		{% for site in sites %}
		{{ site | tojson }}{{ "," if not loop.last }}
		{% endfor %}
	],
	{% if username %}
	"application_logins": [
        {
        "username": "{{username}}",
        "password": "{{password}}"
        }
	],
    {% endif %}
    {% if exclude %}
    "scope":
        {
        "type":"SimpleScope",
        "exclude":[
            {% for url in exclude %}
                { "rule": {{ url | tojson }} }{{ "," if not loop.last }}
            {% endfor %}
            ]
        },
    {% endif %}
    {% if profiles %}
	"scan_configurations": [
        {% for profile in profiles %}
            { "name": {{ profile | tojson }}, "type": "NamedConfiguration" }{{ "," if not loop.last }}
        {% endfor %}
	]
	{% endif %}
}